:root {
  --dark: #222831;
  --gray: #31363F;
  --teal: #76ABAE;
  --light: #EEEEEE;
}

#root {
  max-width: 1280px;
  text-align: center;
}


.logo img:hover {
  filter: drop-shadow(0 0 2em var(--teal));
}

/* ---------------- Navbar ----------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex:1;
  margin-top: 1em;
  width: 100vw;
  height:4rem;
  font-size: 1em;

  div {
    padding: 0.5em;
  }
  .navbarLogos {
    display: flex;
    margin-right: 10%;
    align-items: center;
    gap: 1em;

    .logo img {
      height: 3em;
    }
  }
  .navbar_name {
    margin-left: 10%;
  }
}



/* ---------------- About Me ----------------------*/

.aboutme {
  margin-left: 10%;
  text-align: start;
  margin-top:7em;
  max-width: 650px;
  margin-right:5%;
  
  h1 {
    font-size: 3em;

    span {
      color: var(--teal);
    }
  }
  .aboutme_description {
    

    span {
      color: #F4CE14;
    }
  }
  img {
    margin-top:50px;
  }
}

/* ----------------- Mobile Device CSS ----------- */
@media only screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    text-align: center;
    .navbarLogos, .navbar_name {
      height: 3em;
      margin: 0;
    }
    .navbar_name h1 {
      margin: 0;
    }
  }
  
  .aboutme {
    margin: 2%;
    text-align: center;
  }
  
}

