:root {
  --dark: #222831;
  --gray: #31363F;
  --teal: #76ABAE;
  --light: #EEEEEE;
}

#root {
  max-width: 1280px;
  text-align: center;
}


.logo img:hover {
  filter: drop-shadow(0 0 2em var(--teal));
}

/* ---------------- Navbar ----------------------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex:1;
  margin-top: 1em;
  width: 100vw;
  height:4rem;
  font-size: 1em;

  div {
    padding: 0.5em;
  }
  .navbarLogos {
    display: flex;
    margin-right: 10%;
    align-items: center;
    gap: 1em;

    .logo img {
      height: 3em;
    }
  }
  .navbar_name {
    margin-left: 10%;
  }
}



/* ---------------- About Me ----------------------*/

.aboutme {
  margin-bottom: 160px;
  margin-left: 10%;
  text-align: start;
  margin-top:7em;
  max-width: 650px;
  margin-right:5%;
  
  h1 {
    font-size: 3em;

    span {
      color: var(--teal);
    }
  }
  .aboutme_description {
    
    span {
      color: #F4CE14;
    }
  }
  img {
    margin-top:50px;
  }
}

/* ---------------- Technologies----------------------*/
.technologies {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  
  h1 {
    width: 40%;
    color:var(--dark);
    background-color: var(--teal);
    border-radius: 15px;
    min-width: 250px;
    
  }
  .technologiesSection {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    gap: 20px;
  }
  .techSection {
    flex:1;
    min-width: 500px;

    h2 {
      text-align: start;
      margin-bottom: 5px;
      
      color: var(--light)
    }
    .techCards {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 5px;
      
      .techCard {
        gap: 10px;
        flex:1;
        padding:0.5em;
        max-width: 100%;
        min-width: 45%;
        background-color: var(--gray);
        display: flex;
        align-items: center;
        border-radius: 5px;
        img {
          height: 50px;
        }
      }
    }
  }

}
/* ---------------- Projects ----------------------*/

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 60px;
  h1 {
    width: 40%;
    color:var(--dark);
    background-color: var(--teal);
    border-radius: 15px;
    min-width: 250px;
  }
  .project {
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;

    .project-title {
      font-size: 25px;
      margin-bottom: 15px;
      color: var(--teal)
      
    }

    .project-container {
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      margin-bottom: 15px;
    
      .slide {
        width: 600px;
        
      }

      .project-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 400px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .project-desc {
        max-width: 400px;
        
      }
    }

  }
}
/* ---------------- Contact Me ----------------------*/

.contactMe {
  background-color: var(--gray);
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 200px;
  
  
  h1 {
    
    width: 40%;
    align-self: center;
    
    color:var(--dark);
    background-color: var(--teal);
    border-radius: 15px;
    min-width: 250px;
    
    
  }
  #contactMeForm {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 20px;
  
    #labels {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
    }
    #inputs {
      display: flex;
      flex-direction: column;
      width: 70%;
      gap: 10px;
      border-color: var(--teal);
  
      ;#message {
        height: 200px;
      }
    }
  }
}





/* ----------------- Mobile Device CSS ----------- */
@media only screen and (max-width: 500px) {

  /* ----------------- Mobile Device Navbar ----------- */

  .navbar {
    flex-direction: column;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    text-align: center;
    .navbarLogos, .navbar_name {
      height: 3em;
      margin: 0;
    }
    .navbar_name h1 {
      margin: 0;
    }
  }
  /* ----------------- Mobile Device About Me ----------- */
  .aboutme {
    margin: 2%;
    text-align: center;
  }
  /* ----------------- Mobile Device Technologies ----------- */
  .technologies {
    width: 100%;
    h1 {
      min-width: 250px;
    }
    .technologiesSection {
     
      .techSection {
        max-width: 300px;
        display: flex;
        flex-direction: column;
        
        align-items:center;
        .techCards {
          width: clamp(250px, 80%, 450px);
          display: flex;
          flex-direction: column;
          align-items: center;
          flex-wrap: wrap;
          gap: 5px;

          .techCard {
          width: clamp(250px, 80%, 450px);
          padding: 10px;

          }
        
          }  
        }
      } 
    }
    .projects {
      width: 100%;
      
      .slide {
        max-width: 300px;
        height: 200px;
        margin-left: 10%;
        margin-right: 10%;
      }
    }
  }

  

  @media only screen and (max-width: 700px) {
    .projects {
      .slide {
        max-width: 500px;
        height: 300px;
      }
    }
  }